/**
 * Fonts
 */
/* Fonts: Proxima Nova */
@font-face {
  font-family: 'Proxima Nova';
  src: url("../assets/fonts/Proxima Nova/ProximaNova-Thin.eot");
  src: url("../assets/fonts/Proxima Nova/ProximaNova-Thin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Proxima Nova/ProximaNova-Thin.woff2") format("woff2"), url("../assets/fonts/Proxima Nova/ProximaNova-Thin.woff") format("woff"), url("../assets/fonts/Proxima Nova/ProximaNova-Thin.ttf") format("truetype"), url("../assets/fonts/Proxima Nova/ProximaNova-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input::-ms-clear {
  display: none; }

/**
 * Global
 */
*,
*::after,
*::before {
  outline: none !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 0;
  min-height: 0;
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

input, select, textarea, button {
  -webkit-appearance: none; }

html {
  -webkit-text-size-adjust: 100%; }

a {
  color: inherit;
  text-decoration: none; }

label {
  margin-bottom: 10px; }

.error {
  color: #e03d3d;
  font-size: 12px; }

.container {
  width: 1170px;
  margin: 0 auto; }

.form {
  padding: 40px 0;
  background-color: #333; }

textarea {
  min-width: 100%;
  height: 70px;
  text-decoration: none;
  border: 1px solid #000;
  resize: none;
  color: #000; }

textarea.error {
  border-color: #e03d3d; }

textarea.valid {
  border-color: #59ba59; }

.section__text {
  margin-top: 10px;
  margin-bottom: 5px; }

.form__inner {
  max-width: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding: 15px 10px;
  background-color: #e5e5e5;
  border-radius: 5px; }

.btn_form {
  text-decoration: none;
  min-width: 150px;
  padding: 8px 8px;
  color: #fff;
  font-size: 12px;
  background-color: #000;
  border: 0; }

.input__value {
  min-width: 100%;
  border: 1px solid #000;
  font-size: 20px;
  padding: 5px 10px;
  color: #000; }

.input__value.error {
  border-color: #e03d3d; }

.input__value.valid {
  border-color: #59ba59; }

.checkbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.checkbox label:before {
  content: "";
  display: inline-block;
  height: 16px;
  width: 16px;
  border: 1px solid; }

.checkbox label {
  position: relative;
  display: inline-block;
  padding-left: 22px; }

.checkbox label:before,
.checkbox label:after {
  position: absolute;
  content: "";
  display: inline-block; }

.checkbox label:before {
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 1px solid;
  left: 0;
  top: 0; }

.checkbox label:after {
  height: 5px;
  width: 9px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 4px;
  top: 4px; }

.checkbox input[type="checkbox"] + label:after {
  content: none; }

.checkbox input[type="checkbox"]:checked + label:after {
  content: ""; }

label.error {
  padding: 0; }

label.error:after {
  display: none; }

label.error:before {
  display: none; }
